<!-- qa_list.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex align-items-center mb-3">
        <h1 class="me-auto">Мои вопросы/задачи</h1>
        <a href="{% url 'add_item' %}" class="btn btn-primary">Добавить новый вопрос/задачу</a>
    </div>
    <form method="GET" class="d-flex justify-content-between w-100 align-items-center">
        <span>Приложение:</span><select name="appsname" class="form-select form-select-sm mx-2">{% for key, value in apps_choices %}<option value="{{ key }}" {% if request.GET.appsname == key %}selected{% endif %}>{{ value }}</option>{% endfor %}</select>

        <span>Статус:</span><select name="status" class="form-select form-select-sm mx-2">{% for key, value in status_choices %}<option value="{{ key }}" {% if request.GET.status == key %}selected{% endif %}>{{ value }}</option>{% endfor %}</select>

        <input type="hidden" name="sort" value="{{ request.GET.sort }}" />
        <button type="submit" class="btn btn-primary ms-auto">Фильтровать</button>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><a href="{% url 'qa_list' %}?sort=shortquery">Формулировка</a></th>
                <th scope="col"><a href="{% url 'qa_list' %}?sort=appsname">Приложение</a></th>
                <th scope="col"><a href="{% url 'qa_list' %}?sort=querykind">Тип</a></th>
                <th scope="col"><a href="{% url 'qa_list' %}?sort=asktime">Время</a></th>
                <th scope="col"><a href="{% url 'qa_list' %}?sort=status">Статус</a></th>
            </tr>
        </thead>
        <tbody>
            Для сброса фильтров нажмите любой столбец в шапке

            {% if items %}
            {% for item in items %}
            <tr>
                <td>{{ item.shortquery }}</td>
                <td>{{ item.get_appsname_display }}</td>  {# Автоматически получает русский вариант #}
                <td>{{ item.get_querykind_display }}</td>
                <td>{{ item.asktime }}</td>
                <td>{{ item.get_status_display }}</td> {# Тоже автоматический метод #}
                <td>
                    <a href="{% url 'edit_item' item.pk %}" class="btn btn-secondary">Редактировать</a>
                    <a href="{% url 'delete_item' item.pk %}" class="btn btn-danger">Удалить</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="6">Нет доступных записей.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}
